body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #333;
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  /* gap: 5px; */
  justify-content: center;
  margin-top: 20px;
}

.cell {
  background-color: white;
  border: 2px solid #143275;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cell:hover {
  background-color: #e0e0e0;
}

#status {
  margin-top: 20px;
  font-size: 1.2em;
  color: #143275;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 1em;
}
